.Space {
  width: 100px;
  height: 100px;
  background-color: #282c34;
  color: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: 4em;

  cursor: pointer;
}
