.Space {
  width: 10vw;
  height: 10vw;
  min-width: 75px;
  min-height: 75px;
  background-color: #282c34;
  color: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: 4em;

  cursor: pointer;
}
